/*html{
	background   : url('../img/background.jpg') no-repeat center center fixed;
	-webkit-background-size : cover;
	-moz-background-size    : cover;
	-o-background-size      : cover;
	background-size         : cover;
}

body{
	background-color : transparent;
}

h1,h4{
	color      : #1E65FF;
	text-align : center;
}

h1{
	margin-top  : 200px;
	font-size   : 80px;
}

h4{
	font-size : 40px;
}*/


/*

	Fonts to use in web


*/


*{
	padding  : 0px;
	margin   : 0px;
}

h1,h2,h3,h4,h5,h6{
	font-family  : 'Dosis', sans-serif;
	font-weight  : bold;
}

body{
	font-family : 'Titillium Web', sans-serif;
	color       : #337ab7;
}

.container-fluid{
	padding       : 0px !important;
}

.row{
	margin-left  : 0px !important;
	margin-right : 0px !important;
}

.layer{
	background-color  : rgba(0, 0, 0, 0.9);
	position          : absolute;
	bottom            : 0px;
	top               : 0px;
}


/*

	Css for navbar

*/

.navbar-default{
	background-color : #000000;
}

.navbar-brand>a:hover{
	text-decoration  : none;
	color            : #337AB7;
}

.navbar-brand>a>span{
	font-family     : 'Dosis',sans-serif;
	font-weight     : 600;
	font-size       : 20px;
	letter-spacing  : 2px;
}

.navbar-brand>a>span>img{
	width   : 40px;
	height  : 30px;
	border-radius  : 10%;
}

.navbar-right{
	margin-right  : 0px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	color   : #FFFFFF;
	background-color  : #003D99;
}

.navbar-default .navbar-nav li>a{
	color  : #FFFFFF;
}

.navbar-default .navbar-nav li>a:focus, .navbar-default .navbar-nav li>a:hover{
	color    : #4CAF50;
}

.navbar-default{
	border : none;
}

/* increase the size to collapse navbar*/
@media (max-width: 1168px){
	.navbar-toggle{
		display   : block !important;
	}
	.navbar-collapse.collapse{
		display   : none !important;
	}
	.navbar-header{
		width              : 100%;
		background-color   : #333;
	}
}


.mm-menu .mm-navbar a, .mm-menu .mm-navbar>*{
	color       : #4CAF50 !important;
	font-family : 'Dosis' , 'sans-serif';
	font-weight : 600;
	font-size   : 20px;

}



/*

	Slider image

*/


.carousel-inner>.item>img{
	margin-left   : auto;
	margin-right  : auto;
	width         : 100%;
	height        : 100%;
}


.carousel-control{
	top         : 47%;
	line-height : 46px;
	border      : 2px solid #FFF;
	width       : 50px;
	height      : 50px;
	margin-left : 10px;
	margin-right: 10px;
}


.carousel-caption>h4{
	letter-spacing   : 2px;
}


/*

	Aim section

*/

.aim{
	height            : 400px;
	background-color  : #000;
	position          : relative;
	background        : url('../img/background.jpg') no-repeat center center fixed;
	-webkit-background-size : cover;
	-moz-background-size    : cover;
	-o-backgeound-size      : cover;
	background-size         : cover;

}


.aim h6{
	margin       : 0px;
	padding-top  : 12%;
	color        : #00C831;
	font-size    : 25px;
	font-weight  : 400;
	text-align   : center;
	font-family  : 'Titillium Web', sans-serif;

}

.aim p{
	text-align   : center;
	margin-left  : auto;
	margin-right : auto;
	margin-top   : 30px;
	font-size    : 18px;
}


/*

	Security section

*/

.security{
	/*height            : 500px;*/
	background-color  : #000;
	clear             : both;

}

.security .security-description{
	padding  : 30px;
}

.security .security-description>h6{
	margin         : 0px;
	padding-top    : 30px;
	padding-bottom : 20px;
	color          : #00C831;
	font-size      : 25px;
	font-weight    : 400;
	font-family    : 'Titillium Web', sans-serif;
	text-transform : uppercase;
}

.security .security-description>p{
	font-size      : 17px;
	text-align     : justify;
	text-indent    : 50px;
}


/*

	Web developing

*/

.webdeveloping{
	background-color  : #000;
}

.webdeveloping .webdev-description>h6{
	margin         : 0px;
	padding-top    : 30px;
	padding-bottom : 20px;
	color          : #00C831;
	font-size      : 25px;
	font-weight    : 400;
	font-family    : 'Titillium Web', sans-serif;
	text-transform : uppercase;
	/*0348AC*/

}

.webdeveloping .webdev-description{
	padding        : 30px;
}

.webdeveloping .webdev-description>p{
	font-size      : 17px;
	text-align     : justify;
	text-indent    : 50px;
}


/*

	software engineering

*/


.se-detail{
	background-color  : #000;
	padding-bottom    : 40px;
	padding-top       : 40px;
}

/*.se-detail>h5{
	border          : 1px solid #333;
	margin          : 0px;
	margin-bottom   : 70px;
	color           : blue;
	font-size       : 30px;
	font-weight     : 400;
	text-align      : center;
	text-transform  : uppercase;
	font-family     : 'Titillium Web' , sans-serif;
	display         : inline-block;
	padding         : 20px;
}*/




.se-detail .se-part-section .se-part{
	padding           : 15px;
	border            : 1px solid #333;
	margin            : 25px;
	border-radius     : 3px;
	/*background-color  : #FFF;*/
}

.se-detail .se-part-section .se-part .se-img{
	padding        : 5px;
	border-bottom  : 1px solid #333;
	padding-bottom : 15px;
}

.se-detail .se-part-section .se-part .se-img img{
	width   : 348px;
	height  : 261px;
}

.se-detail .se-part-section .se-part .se-letter>h6{
	font-size      : 18px;
	letter-spacing : 2px;
	color          : #00C831;
}

.se-detail .se-part-section .se-part .se-letter>p{
	font-size       : 15px;
	text-align      : justify;
	text-indent     : 40px;
}





/*

	Networking

*/


.networking{
	position       : relative;
	height         : 400px;
	background     : url('../img/ne.jpg') no-repeat center center fixed;
	-webkit-background-size : cover;
	-moz-background-size    : cover;
	-o-background-size      : cover;
	background-size         : cover;
}


.networking h4{
	color           : #00C831;
	font-size       : 35px;
	letter-spacing  : 2px;
	margin-top      : 12%;
}

.networking p{
	font-size       : 17px;
}




/*

	Artificial Intelligence

*/



.ai-detail{
	position          : relative;
	height            : 600px;
	background        : url('../img/ai.jpg') no-repeat center center fixed;
	-webkit-background-size : cover;
	-moz-background-size    : cover;
	-o-background-size      : cover;
	background-size         : cover;
}


.ai-detail h2{
	color           : #00C831;
	margin-top      : 18%;
	margin-bottom   : 2%;
	text-transform  : uppercase;
}


.ai-detail p{
	font-size     : 17px;
	text-align    : justify;
	text-indent   : 50px;
}
